.col-md-4{
	width:33.33333333%;
	float:left;
}

/*===== Portfil=====*/

/*==========================
	Start Portfolio CSS
============================*/
.portfolio{
	background:#FDFDFD;
}
.portfolio .single-pf{
	position:relative;
}
.portfolio .single-pf img{
	height:100%;
	width:100%;
}
.portfolio .single-pf:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#1a76d1;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	z-index:1;
}
.portfolio .single-pf:hover:before{
	opacity:0.7;
	visibility:visible;
}
.portfolio .single-pf .btn {
	color: #1a76d1;
	z-index: 3;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 0px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	height: 48px;
	width: 150px;
	text-align: center;
	line-height: 48px;
	padding: 0;
	font-weight: 500;
	font-size: 14px;
	margin-left: -75px;
	margin-top: -24px;
	border-radius:4px;
}
.portfolio .single-pf:hover .btn{
	opacity:1;
	visibility:visible;
}
.portfolio .single-pf .btn:hover{
	color:#fff;
}
.portfolio .owl-nav{
	display:none;
}
/*===== porfolio====*/



/* ======== HEADER ====== */

.header .logo {
	float: left;
	margin-top: 18px;
}
.header .nav li{
	margin-right: 15px;
	float: left;
	position:relative;
}
.header .nav li:last-child{
	margin:0;
}
.header .nav li a {
	color: #2C2D3F;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	padding: 25px 12px;
	position: relative;
	display: inline-block;
	position:relative;
}
.header .nav li a::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 3px;
	width:0%;
	background: #1A76D1;
	border-radius: 5px 5px 0 0;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.header .nav li.active a:before{
	opacity:1;
	visibility:visible;
	width: 100%;
}
.header .nav li.active a{
	color:#1A76D1;
}
.header .nav li:hover a:before{
	opacity:1;
	width: 100%;
	visibility:visible;
}
.header .nav li:hover a{
	color:#1a76d1;
}
.header .nav li a i {
	display: inline-block;
	margin-left: 1px;
	font-size: 13px;
}

/* ======== HEADER ====== */

/* ======== slider =====*/
#container {
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	max-width:100%;
}
#proparallax {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 40.5rem;
}	

#proparallax img {
	position: absolute;
	width: 50rem;
	height: 37.5rem;
	overflow: hidden;
	object-fit: cover;
}

@keyframes parallax_one { /* controls img.one movement */
	0% { /* .imageloaded */
		height: 37.5rem;
		width: 50rem;
		left: 0rem;
		opacity: 1;
	}
	/* .imagehold runs from 0 to 27.77% */
	27.77% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	27.78% { /* .imagepreunload */
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	33.33% { /* .imageunloaded */
		height: 37.5rem;
		width: 0rem;
		left: 0rem;
		right: 0rem;
		opacity: 1;
	}
	33.34% { /* imageoff */
		opacity: 0;	
	}
	94.43% { /* .imageon */
		left: 0rem;
		opacity: 0;
	}
	94.44% { /* .imageinitial */
		height: 37.5rem;
		width: 0rem;
		left: 50rem;
		opacity: 1;
	}
	100% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
		opacity: 1;		
	}
}

@keyframes parallax_two { /* controls img.two movement */
	0% { /* .imageoff */
		opacity: 0;
	}
	27.77% { /* .imageon */
		left: 0rem;
		opacity: 0;
	}
	27.78% { /* .imageinitial */
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;
	}
	33.33% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	/* .imagehold runs from 33.34% - 61.10% */
	61.10%{ /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	61.11% { /* .imagepreunload */
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	66.67% { /* .imageunloaded */
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
	66.68% { /* .imageoff */
		opacity: 0;
	}
	100% { /* .imageoff */
		opacity: 0;
	}
}

@keyframes parallax_three { /* controls img.three movement */
	0% { /* .imageoff */
		opacity: 0;
	}
	61.10%{ /* .imageon */
		opacity: 0;
	}
	61.11% { /* .imageinitial */
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;		
	}
	66.67% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	/* .imagehold runs from 66.67% - 94.43% */
	94.43% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	94.44% { /* .imagepreunload */
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	100% { /* imageunloaded */
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
}

#proparallax img.one{
	animation-name: parallax_one; /* controls img.one movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-direction: forwards;
	object-fit: cover;
}

#proparallax img.two {
	animation-name: parallax_two; /* controls img.two movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-direction: forwards;
	object-fit: cover;
}

#proparallax img.three {
	animation-name: parallax_three; /* controls img.three movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-direction: forwards;
	object-fit: cover;
}
#proparallax img.four {
	animation-name: parallax_four; /* controls img.three movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-direction: forwards;
	object-fit: cover;
}

/* ======== slider =====*/

/* ======== START FUN-FACT======*/
.fun-facts{
	position:relative;
}
.fun-facts.section{
	padding:120px 0;
}
.fun-facts{
	background:url('/static/image/header.png');
	background-size:cover;
    image-orientation: flip;
	background-repeat:no-repeat;
}
.fun-facts .single-fun i {
	position: absolute;
	left: 0;
	font-size: 62px;
	color: #fff;
	height: 70px;
	width: 70px;
	line-height: 67px;
	font-size: 28px;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 2px solid #fff;
	border-radius: 0px;
	top: 50%;
	margin-top: -35px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 50%;
}
.fun-facts .single-fun:hover i{
	color:#1A76D1;
	background:#fff;
	border-color:transparent;
}
.fun-facts .single-fun .content {
	padding-left: 80px;
}
.fun-facts .single-fun span {
	color: #1e1616;
	font-weight: 600;
	font-size: 30px;
	position: relative;
	display: block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s eas;
	display: block;
	margin-bottom: 7px;
}
.fun-facts .single-fun p{
	color:#58acf1;
	font-size:15px;
}
/* ======== END FUN-FACT




/* ======== FOOTER =====*/
.footer{
	position:relative;
}
.footer .footer-top{
	padding:100px 0px;
	position:relative;
	background:#1A76D1;
}
.footer .footer-top:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#000;
	opacity:0.1;
}

.footer .single-footer .social{
	margin-top:25px;
}
.footer .single-footer .social li{
	display:inline-block;
	margin-right:10px;
}
.footer .single-footer .social li:last-child{
	margin-right:0px;
}
.footer .single-footer .social li a {
	height: 34px;
	width: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #fff;
	text-align: center;
	padding: 0;
	border-radius: 100%;
	display: block;
	color:#fff;
	font-size: 16px;
}
.footer .single-footer .social li a:hover{
	color:#1A76D1;
	background:#fff;
	border-color:transparent;
}
.footer .single-footer.f-link li a i{
	margin-right:10px;
}
.footer .single-footer.f-link li{
	display:block;
	margin-bottom:12px;
}
.footer .single-footer.f-link li:last-child{
	margin:0;
}
.footer .single-footer.f-link li a {
	display: block;
	color: #fff;
	text-transform: capitalize;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
}
.footer .single-footer.f-link li a:hover{
	padding-left:8px;
}
.footer .single-footer h2{
	color:#fff;
	font-size:20px;
	font-weight:600;
	text-transform:capitalize;
	margin-bottom:40px;
	padding-bottom:20px;
	text-transform:capitalize;
	position:relative;
}
.footer .single-footer h2::before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0px;
	height: 3px;
	width: 50px;
	background: #fff;
}
.footer .single-footer .time-sidual{
	margin-top:15px;
}
.footer .single-footer .time-sidual{
	overflow:hidden;
}
.footer .single-footer .time-sidual li {
	display: block;
	color: #fff;
	width: 100%;
	margin-bottom: 5px;
}
.footer .single-footer .time-sidual li span{
	display:inline-block;
	float:right;
}
.footer .single-footer .day-head .time {
	font-weight: 400;
	float: right;
}
.footer .single-footer p{
	color:#fff;
}
.footer .single-footer .newsletter-inner{
	margin-top:20px;
	position:relative;
}
.footer .single-footer .newsletter-inner input {
	background: transparent;
	border: 1px solid #fff;
	height: 50px;
	line-height: 42px;
	width: 100%;
	margin-right: 15px;
	color: #fff;
	padding-left: 18px;
	padding-right: 70px;
	display: inline-block;
	float: left;
	border-radius: 0px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
	border-radius: 5px;
}
.footer .single-footer .newsletter-inner input:hover{
	padding-left: 22px;
}
.footer input::-webkit-input-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::-moz-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::-ms-input-placeholder {
    opacity: 1;
    color: #fff !important;
}
.footer input::input-placeholder {
    opacity: 1;
    color: #fff !important;
}
.footer .single-footer .newsletter-inner .button {
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	line-height: 50px;
	width: 50px;
	background: #fff;
	border-left: 1px solid #fff;
	text-shadow: none;
	box-shadow: none;
	display: inline-block;
	border-radius: 0px;
	border: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 0 5px 5px 0;
	color: #1A76D1;
	font-size: 25px;
}
.footer .single-footer .newsletter-inner .button i{
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.footer .single-footer .newsletter-inner .button:hover i{
	color:#2C2D3F;
}
.footer .copyright{
	background:#1A76D1;
	padding:25px 0px 25px 0px;
	text-align:center;
}
.footer .copyright .copyright-content p{
	color:#fff;
}
.footer .copyright .copyright-content p a{
	color:#fff;
	font-weight:400;
	text-decoration:underline;
	display:inline-block;
	margin-left:4px;
}
/* ======== FOOTER =====*/